.card{
    background-color: rgb(255, 255, 255);
}
.card-body{
    color: rgb(0, 0, 0);
    font-size: 140%;
}
.card-img-top {
  max-height: 180px; /* Ajusta la altura máxima de las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen */
}
body{
    background-color: black;
    color: white;
}

.footer-custom {
    background-color: #383636;
  }
  
  .social-button {
    background-color: #54456b;
  }
  
  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
  }

  footer img {
    width: 20px;
    height: 20px;
  }

.row {
  display: flex !important;
  margin: 1% !important;
  padding: 1% !important;
}
